html,
body {
    margin: 0%;
    padding: 0%;
}

.topnav {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;
}

.links {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none;
}

.links a {
    color: white;
    text-decoration: none;
    padding-left: 3%;
}

.links a:hover {
    text-decoration: none;
}

.links a:visited {
    color: white;
    text-decoration: none;
}

.logo {
    background-color: black;
    color: white;
    padding: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
    font-weight: 600;
    border: none;
}

.logo a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
    font-weight: 500;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding: 10px;
    display: none;
    position: absolute;
    background-color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: larger;
    font-weight: 600;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(27, 27, 27);
}

.bolder600 {
    font-weight: 600;
}

.races-main {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-main.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    color: whitesmoke;
    text-align: center;
    margin: 0%;
    padding: 3%;
    padding-bottom: 7%;
}

.races-main h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 58px;
    text-align: center;
}

.races-block {
    font-family: "Montserrat", sans-serif;
    font-size: larger;
    color: whitesmoke;
    text-align: left;
    line-height: 1.4;
    margin: 0%;
    padding: 10%;
}

.races-block h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.races-block a {
    color: rgb(248, 113, 76);
    text-decoration: none;
}

.races-block a:hover {
    color: rgb(248, 113, 76);
    text-decoration: none;
}

.races-block a:visited {
    color: rgb(191, 217, 255);
    text-decoration: none;
}

.races-block.human {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-human.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.races-block.narin {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-narin.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.races-block.ionian {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-ionian.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.races-block.erian {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-erian.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.races-block.ladovian {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-ladovian.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.races-block.denon {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-denon.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.races-block.albion {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-albion.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.races-block.hovd {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-hovd.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.races-block.lizard {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-lizard.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.races-block.dwarf {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-dwarf.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.races-block.elf {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-elf.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.races-block.orc {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-orc.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.races-block.tabaxi {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-tabaxi.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.races-block.goblin {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/img/races-goblin.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer p {
    font-family: "Montserrat", sans-serif;
    font-size: larger;
    text-align: left;
    color: whitesmoke;
    background-color: black;
    padding: 3%;
    margin: 0%;
}

.footer-links {
    color: whitesmoke;
    background-color: black;
    padding-left: 3%;
}

.link-logo img {
    width: 32px;
}

.inform p {
    font-size: smaller;
}