.header {
    background-color: rgb(29, 29, 29);
    margin: 0;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    padding-block: 5px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-menu__item {
    margin-inline: 1vw;
}

.logo {

    justify-content: center;
    flex-shrink: 0;
}

.logo img {
    width: 80px;
    height: 80px;
}

.nav a {
    font-family: Amsterdam;
    font-size: 30px;
    color: rgb(224, 157, 87);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav a:visited,
.nav a:active,
.nav a:focus {
    color: rgb(224, 157, 87);
}

.nav a:hover {
    color: rgb(197, 127, 85);
}

@media (max-width: 1200px) {
    .nav-menu {
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    .nav-menu__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 100px;
        scroll-snap-align: start;
    }
}

@media (max-width: 768px) {

    .nav a {
        font-size: 20px;
    }
}